{% extends 'base.html' %}

{% block guid %}  
  -   添加机构  {% endblock %}
  {% block title %} 添加机构 {% endblock %} 
{% block content %}

        
    <div class="well">
        <h1>添加机构</h1>
        <p>&nbsp;默认你为管理员;创建之后可以<a href="{% url 'schlist' %}">选择其他用户为管理员</a></p>

<!-- 注册表单开始 -->
        <form class="alert alert-success" action="" method="post">
            {% csrf_token %}
               
            <table class=""> 
            {% for field in form %} 
                <tr>
                <td>{{ field.label_tag }}</td> <td>{{ field }} </td><td>{{ field.errors }}</td>
                </tr>
                <tr><td> &nbsp &nbsp </td></tr>
            {% endfor %}   
            </table>  
             <p class="form-actions">
                机构等级<input type="text" value="{{ upschlevel }}" name="upschlevel" >             
            </p>    
             <p class="form-actions">
                上级机构注册口令<input type="text" value="{{ upschcode }}" name="upschcode" >             
            </p>  

             <p class="form-actions">
                省份名称<input type="text" value="{{ sheng_name }}" name="sheng_name" >             
            </p>    
             <p class="form-actions">
                地市名称<input type="text" value="{{ shi_name }}" name="shi_name" >             
            </p>    
               
             <p class="form-actions">
                区县名称<input type="text" value="{{ qu_name }}" name="qu_name" >             
            </p>  
            
            <p class="form-actions">
                <input type="submit" value="添加" class="btn btn-primary">
             
            </p>
        </form>
    </div>

{% endblock %}
