{% extends 'base.html' %}

{% block guid %}  - <a href="{% url 'register' %}">register </a>{% endblock %}
  {% block title %} register {% endblock %} 
{% block content %}


    <form class="form-horizontal" action="{% url 'sel_city' %}" method="post">
    {% csrf_token %}
    {% if not has_sheng  %}
        <div class="form-group">
        第一步:请 
            <label for="id_province" class="control-label">选择省市</label>
            <select class="form-control" id="id_province" name="province">
                <option selected="selected">请选择</option>
                {% for foo in sheng %}
                    <option value="{{ foo.id }}">{{ foo.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="下一步"class="btn btn-primary">
        </div>
    {% endif %}
        {% if has_sheng  %}
            {% if not has_shi  %}
            <span class="label label-primary">{{ sheng.name }}</span>
            <a href="javascript:history.go(-1)"><input type="button" value="重选" class="btn btn-danger"></a></br></br>
        <div class="form-group">
        第二步:请 
            <label for="id_city" class="control-label">选择城市</label>
            <select class="form-control" id="id_city" name="city">
                    <option selected="selected">请选择</option>
                {% for foo in shi %}
                    <option value="{{ foo.id }}">{{ foo.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="下一步"class="btn btn-primary">
        </div>
            {% endif  %}



        {% if has_shi  %}
            {% if not has_qu  %}
        <span class="label label-primary">{{ sheng.name }}</span></br></br>
        <span class="label label-success">{{ shi.name }}</span>
            <a href="javascript:history.go(-1)"><input type="button" value="重选" class="btn btn-danger"></a></br></br>
        <div class="form-group">
        第三步:请 
            <label for="id_city" class="control-label">选择区县</label>
            <select class="form-control" id="id_district" name="district">
                    <option selected="selected">请选择</option>
                {% for foo in qu %}
                    <option value="{{ foo.id }}">{{ foo.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="下一步"class="btn btn-primary">
        </div>
            {% endif  %}


        {% if has_qu  %}
            {% if not has_xiao  %}
        <span class="label label-primary">{{ sheng.name }}</span></br></br>
        <span class="label label-success">{{ shi.name }}</span></br></br>
        <span class="label label-info">{{ qu.name }}</span>
            <a href="javascript:history.go(-1)"><input type="button" value="重选" class="btn btn-danger"></a></br></br>
        <div class="form-group">
        第四步:请 
            <label for="id_school" class="control-label">选择学校</label>
            <select class="form-control" id="id_school" name="school">
                    <option selected="selected">请选择</option>
                {% for foo in xiao %}
                    <option value="{{ foo.id }}">{{ foo.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="下一步" class="btn btn-primary">
        </div>
            {% endif  %}



        {% endif  %}   <!--    if has_qu    -->
        {% endif  %}   <!--    if has_shi     -->
        {% endif  %}   <!--   if has_sheng     -->

        
    </form>

        <div class="form-group"> 
        {% if has_xiao  %}
        您选择的单位如下:</br></br></br>
        <span class="label label-primary">{{ sheng.name }}</span></br></br>
        <span class="label label-success">{{ shi.name }}</span></br></br>
        <span class="label label-info">{{ qu.name }}</span></br></br>
        <span class="label label-warning">{{ xiao.name }}</span>
            <a href="javascript:history.go(-1)"><input type="button" value="重选" class="btn btn-danger"></a></br></br>
        <a href="{% url 'register' %}"  ><button type="button" class="btn btn-primary">下一步</button></a> 请继续完善信息以完成注册
        {% endif  %}
        </div>
{% endblock %}
