{% extends 'base.html' %}
{% load staticfiles %}

{% block guid %}  - 加减分记录{% endblock %}
  {% block title %} 加减分记录 {% endblock %} 
{% block content %}



                        <div class="col-lg-12 ds">
                                        <h5></h5>
                                     
                      
                      {% for sc in issues%}                   
                      <!-- First Action -->
                      <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>{{sc.created_time}}</muted><br/>
                               <a href="#">{{sc.employee}}</a> 因为{{sc.issue}}记分{{sc.scoretype}}{{sc.score}}<br/>
                            </p>
                        </div>
                      </div>
                       {% endfor %} 
                        </div><!-- /col-lg-12 --> 
 
 
  
        <div class="alert alert-error">


        <a href="{% url 'addscore' %}">添加记分事件</a> <br/>


        <a href="{% url 'editissue'  %}">管理常用记分事件</a> <br/>
            
        <a href=" ">管理自动记分事件</a> 

        </div>
 
{% endblock %}
