{% extends 'base.html' %}

{% block guid %}  {{ request.path }} |  导入用户 {% endblock %}
{% block content %}

        
    <div class="well">
        <h1>批量增加
        {% if request.path == "/accounts/impuser/student"   %}   
            员工
          {% elif request.path == "/accounts/impuser/teacher" %}   
           教师
          {% endif %} 
        </h1>
        <p>&nbsp;</p>
    <p>&nbsp;</p>
<!-- 错误提示信息 -->
    {% if user_is_reged %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>用户无权限
        </div> {% endif %}
<!-- 下载用户信息模板文件 -->
          {% if request.path == "/accounts/impuser/student"   %}   
            <p >  <a href="{% url 'downtemplate' pp='employee' %}">下载模板</a>   </p>  <!-- pp传递的文件名 -->
          {% elif request.path == "/accounts/impuser/teacher" %}   
            <p >  <a href="{% url 'downtemplate' pp='teacher' %}">下载教师用户信息模板文件</a>   </p>  <!-- pp传递的文件名 --> 
          {% endif %}  
<!-- 注册表单开始 -->
        <form class="alert alert-success" action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        
          
            {% csrf_token %}
            <!-- {{ form.as_p }} -->   
            <table class=""> 
            {% for field in form %} 
                <tr>
                <td>{{ field.label_tag }}</td> <td>{{ field }} </td><td>{{ field.errors }}</td>
                </tr>
                <tr><td> &nbsp &nbsp </td></tr>
            {% endfor %}   
            </table>     
                
            仅支持.xls格式
            <p class="form-actions">
                <input type="submit" value="上传" class="btn btn-primary">
             
            </p>
        </form>
    </div>

{% endblock %}
