{% extends 'base.html' %}
{% load staticfiles %}

{% block guid %}  - {% endblock %}
  {% block title %} 个人中心 {% endblock %} 

{% block content %}


<!-- 个人信息 -->
<div class="col-lg-4 col-md-4 col-sm-4 mb">
                            <div class="weather-2 pn">
                                <div class="weather-2-header">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <p> <b> {{operator.truename}} </b></p>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 goright">
                                            <p class="small"> 加减分</p>
                                        </div>
                                    </div>
                                </div><!-- /weather-2 header -->
                                <div class="row centered">
                                    <img src="{% static 'images/m0.jpg' %}" class="img-circle" width="100"> 
                                </div>
                                <div class="row data">
                                    <div class="col-sm-6 col-xs-6 goleft">
                                        <h4><b>共{{operator.scores}} º分</b></h4>
                                        <h6>共加{{plustotal}}º 分</h6>
                                        <h6>共减{{minustotal}}º 分</h6>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 goright">
                                        <h4><b>共{{scoresin.count}} 次</b></h4>
                                        <h6>共加{{scoresplus.count}} 次</h6>
                                        <h6>共减{{scoresminus.count}} 次</h6>
                                    </div>
                                </div>
                            </div>
                        </div>









    
<div class="panel panel-success col-lg-8">
        </br>
    <div class="panel-heading">
        <h3 class="panel-title">最近记分</h3>
    </div>
    <div class="panel-body">
       
                      {% for sc in scoresin%}
                        {% if forloop.counter < 6 %}
                        <i class="fa fa-circle text-info"></i> {{sc.issue}} {{sc.scoretype}}{{sc.score}}<br/>
                        {% endif %}
                      {% endfor %}   
    </div>
</div>     
<div class="panel panel-success col-lg-4">
        </br>
    <div class="panel-heading">
        <h3 class="panel-title">最近加分</h3>
    </div>
    <div class="panel-body"> 
       
                      {% for sc in scoresplus%}
                        {% if forloop.counter < 6 %}
                        <i class="fa fa-circle text-info"></i> {{sc.issue}} {{sc.scoretype}}{{sc.score}}<br/>
                        {% endif %}
                      {% endfor %} 
    </div>
</div>      
<div class="panel panel-success col-lg-4">
        </br>
    <div class="panel-heading">
        <h3 class="panel-title">最近减分</h3>
    </div>
    <div class="panel-body"> 
       
                      {% for sc in scoresminus%}
                        {% if forloop.counter < 6 %}
                        <i class="fa fa-circle text-info"></i> {{sc.issue}} {{sc.scoretype}}{{sc.score}}<br/>
                        {% endif %}
                      {% endfor %} 
    </div>
</div>     
<div class="panel panel-success col-lg-12">
        </br>
    <div class="panel-heading">
        <h3 class="panel-title">用户信息</h3>
    </div>
    <div class="panel-body"> 
                                    <p><b>{{operator.truename}}</b></p>           
                                            <p>{{operator.username}} {{operator.clarkno}} {{operator.work}}</p>
                                            <p class="small">{{operator.xiao_name}},{{operator.sheng_name}}{{operator.shi_name}}{{operator.qu_name}}</p> 


                    <span class="badge">改</span>
     
                <a href="{% url 'changepassword' %}">修改密码</a>
    </div>
</div> 



 

{% endblock %}