{% extends 'base.html' %}
{% load staticfiles %}

{% block guid %}  - 用户{% endblock %}
  {% block title %} 用户 {% endblock %} 
{% block content %}


{% if request.path == "/accounts/userlistall/" and users.count %}
                                <div class="col-lg-12 ds">
                                            <p>所有用户<label class="badge bg-primary"> {{ users.count}}
                                               </label>
                                            </p>
                                </div>
{% elif users.count %}
                                <div class="col-lg-12 ds">
                                            <p>该机构用户<label class="badge bg-primary"> {{ users.count}}
                                               </label>
                                            </p>
                                </div>
{% else %}
                                <div class="col-lg-12 ds">
                                            <p>该机构没有用户
                                            </p>
                                </div>
{% endif %}

    <div class="col-lg-12 ds">
{% for imp in users%}
    <div class="col-lg-4 col-md-4 col-sm-4 ds">

                    <!--  Member -->
                        <div class="desc">
                                <div class="thumb">
                                            <img class="img-circle" src="{% static 'images/m0.jpg' %}" width="50px" height="50px" align="">
                                </div>
                                <div class="details">
                                            <p><label ><b>{{imp.truename}}</b>
                                            <br/>{{imp.username}} {{imp.work}} 工号：{{imp.clarkno}}
                                            <br/>
                                               <muted>{{imp.xiao_name}} &nbsp;&nbsp; 
                                               {{imp.sheng_name}}  &nbsp;&nbsp;
                                               {{imp.shi_name}}  &nbsp;&nbsp;
                                               {{imp.qu_name}}  </muted>
                                            <br/>

                                                  <span class="badge bg-success">{{imp.scores}}分</span>
                                                  <span class="badge bg-info">{{imp.times}}次</span>

                                                {% if imp.truename in schsadminname %}
                                                  <span class="badge bg-warning">管理员</span>
                                                {% endif %}
                                                {% if imp.username == user.username %}
                                                  <span class="badge bg-important">这是你自己哟</span>
                                                {% endif %}

                                               </label>
                                            </p>
                                </div>

 
                                              <div class="pull-right hidden-phone">
                                    {% if perms.accounts.cando_admin %} <!-- 管理员可以修改和删除 -->
                                                  <a href=" {% url 'mine' theuserid=imp.id %}">
                                                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                                                {% if imp.username != user.username %}
                                                  <a href="{% url 'userdelete' pp=imp.id %}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
                                                {% endif %}
                                    {% else %}<!-- 不是管理员只能修改自己 -->
                                                {% if imp.username == user.username %}
                                                  <a href=" {% url 'mine' theuserid=imp.id %}">
                                                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                                                {% else %}
                                                {% endif %}
                                    {% endif %}
                                              </div>
                    </div> 
    </div><!-- /col-lg-4 -->
{% endfor%}
    </div><!-- /col-lg-12 -->

{% if usersbelow.count %}
                                <div class="col-lg-12 ds">
                                            <p>下属机构用户<label class="badge bg-primary"> {{ usersbelow.count}}
                                               </label>
                                               </label>
                                            </p>
                                </div>
{% endif %}

{% for sc in schsbelow %}
        <!--  School -->

    <div class="col-lg-12 ds">
{% for im in usersbelow %}
          {% if im.xiao_id == sc.id %}
                    <!--  Member -->
    <div class="col-lg-4 col-md-4 col-sm-4 ds">
                        <div class="desc">
                                <div class="thumb">    
                                      <img class="img-circle" src="{% static 'images/m0.jpg' %}" width="50px" height="50px" align="">
                                           
                                </div>
                                <div class="details">
                                            <p><label > <b>{{im.truename}}</b>
                                            <br/>{{im.username}} {{im.work}} 工号：{{im.clarkno}}
                                            <br/>
                                               <muted>{{im.xiao_name}} &nbsp;&nbsp; 
                                               {{im.sheng_name}}  &nbsp;&nbsp;
                                               {{im.shi_name}}  &nbsp;&nbsp;
                                               {{im.qu_name}}  </muted>
                                            <br/>

                                                  <span class="badge bg-success">{{im.scores}}分</span>
                                                  <span class="badge bg-info">{{im.times}}次</span>

                                                {% if im.truename in schsadminname %}
                                                  <span class="badge bg-warning">管理员</span>
                                                {% endif %}
                                                {% if im.username == user.username %}
                                                  <span class="badge bg-important">这是你自己哟</span>
                                                {% endif %}

                                               </label>
                                            </p>
                                </div>

 
                                    {% if perms.accounts.cando_admin %} <!-- 管理员可以修改和删除 -->
                                              <div class="pull-right hidden-phone">
                                                  <a href=" {% url 'mine' theuserid=im.id %}">
                                                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                                                {% if im.username != user.username %}
                                                  <a href="{% url 'userdelete' pp=im.id %}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
                                                {% endif %}
                                              </div>
                                    {% else %}<!-- 不是管理员只能修改自己 -->
                                              <div class="pull-right hidden-phone">
                                                {% if im.username == user.username %}
                                                  <a href=" {% url 'mine' theuserid=im.id %}">
                                                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                                                {% else %}
                                                {% endif %}
                                              </div>
                                    {% endif %}
                    </div> 

                </div><!-- /col-lg-4 -->
        {% endif%}
    {% endfor%}
        </div><!-- /col-lg-12 -->
{% endfor%}



{% endblock %}
