{% extends 'base0.html' %}
{% load staticfiles %}
    {% block content %}
    <p></p>>
    <!--services-->
    <div class="services" id="services">
        <div class="container">         
            <div class="title">
                <h3>{{ post.file_name }}</h3>
               
               
            </div>
            <div class="service-grids">
                <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                    
                </div>
                <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                    <div class="srvc-img">
                        <img src="{% static 'images/icon2.png' %}" alt=""/>
                    </div>
                    {% if post.if_anal == ' '  %}
                    <h5>in processing.....</h5>
                    {% else  %}
                    <h5>{{ get_ana }}分析完成 <a href="{% url 'result_de' pp=post.pk ana=get_ana%}">查看结果</a></h5>
                    <p>{{ post.anal_date }}</p>
                    <p> </p>
                    
                    {% endif  %}
                </div>

                <div class="clearfix"> </div>               
            </div>
        </div>
    </div>
    <!--//services-->
<p></p>>
<p></p>>

  {% endblock content %}