{% load staticfiles %}  
<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>EDAS</title>
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'css/up.css' %}">
</head>
<body>
 <div class="page-header">
    <h1><img src="{% static "images/icon2.png" %}" />  
    <a href='http://127.0.0.1:8000/'>EDAS</a> </h1>  
    
    
        <a href='http://127.0.0.1:8000/'>
       首页
    </a>      
    ><a href='/up/'>
        上传文件
    </a>
    
    ><a href='/list/'>
        查看文件
    </a>
    <br/>
 </div>   
{% block content %}
{% endblock %}    
</body>
</html>