{% extends 'base.html' %}

{% block guid %}   {% endblock %}
  {% block title %} index {% endblock %} 
{% block content %}


            <section class="scrollable padder">
              <div class="m-b-md">
                <div class="row">
                  <div class="col-sm-6">
                    <h3 class="m-b-none">信息汇总</h3>
                    <small> </small>
                  </div>
                </div>
              </div>
              <section class="panel panel-default">
                <header class="panel-heading font-bold">{{request.user.xiao_name}}</header>
                <div class="panel-body">
                  <div class="row text-center no-gutter">
                    <div class="col-xs-3 b-r b-light">
                      <p class="h3 font-bold m-t">{{scores.count}}</p>
                      <p class="text-muted">记分</p>
                    </div>
                    <div class="col-xs-3 b-r b-light">
                      <p class="h3 font-bold m-t">{{issues.count}}</p>
                      <p class="text-muted">事件</p>
                    </div>
                    <div class="col-xs-3 b-r b-light">
                      <p class="h3 font-bold m-t">{{employee.count}}</p>
                      <p class="text-muted">员工</p>
                    </div>
                    <div class="col-xs-3">
                      <p class="h3 font-bold m-t">{{schs.count}}</p>
                      <p class="text-muted">机构</p>                        
                    </div>
                  </div>
                </div>
                <footer class="panel-footer bg-white">
                  <div id="flot-1ine" style="height:5px"> <small></small></div>
                </footer>
              </section>
              

              <div class="row">
                <div class="col-lg-3" id="accordion">
                  <section class="panel panel-default">
                    <header class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion"     href="#collapseOne">
                      最新记分
        </a>
                    </header>
    <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body ">
                      <div class="text-xs">
                      {% for sc in scores%}
                        {% if forloop.counter < 6 %}
                        <i class="fa fa-circle text-info"></i> {{sc.employee.truename}} {{sc.issue}} {{sc.scoretype}}{{sc.score}}<br/>
                        {% endif %}
                      {% endfor %}
                      </div>                        
                    </div>
    </div>
                    <div class="panel-footer">
        <a data-toggle="collapse" data-parent="#accordion" 
           href="#collapseTwo">
                    全部记分
        </a>
                    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                      <div class="text-xs">
                      {% for sc in scores%}
                        <i class="fa fa-circle text-info"></i> {{sc.employee.truename}} {{sc.issue}} {{sc.scoretype}}{{sc.score}}<br/>
                      {% endfor %}
                      </div>
    </div>
                    <div class="panel-footer"><small>导出数据</small></div>
                  </section>
                </div>



                <div class="col-lg-3">
                  <section class="panel panel-default">
                    <header class="panel-heading">
                      高分员工
                    </header>
                    <div class="panel-body text-center">
                      <div class="text-xs">
                      {% for im in employee%}
                        {% if forloop.counter < 6 %}
                        <i class="fa fa-circle text-info"></i> {{im.truename}} {{im.scores}}<br/>
                        {% endif %}
                       {% endfor %}
                      </div>                  
                    </div>
                    <div class="panel-footer"><small>导出数据</small></div>
                  </section>
                </div>



                <div class="col-lg-3">
                  <section class="panel panel-default">
                    <header class="panel-heading">
                      计分次数多员工
                    </header>
                    <div class="panel-body text-center">
                      <div class="text-xs">
                      {% for ims in employeescore%}
                        {% if forloop.counter < 6 %}
                        <i class="fa fa-circle text-info"></i> {{ims.truename}} {{ims.times}}<br/>
                        {% endif %}
                       {% endfor %}
                      </div>                  
                    </div>
                    <div class="panel-footer"><small>导出数据</small></div>
                  </section>
                </div>



                <div class="col-lg-3">
                  <section class="panel panel-default">
                    <header class="panel-heading">
                      常用事件
                    </header>
                    <div class="panel-body text-center">
                      <div class="text-xs">
                      {% for ius in issues%}
                        {% if forloop.counter < 6 %}
                        <i class="fa fa-circle text-info"></i> {{ius.issue}} {{ius.times}}<br/>
                        {% endif %}
                       {% endfor %}
                      </div>                  
                    </div>
                    <div class="panel-footer"><small>导出数据</small></div>
                  </section>
                </div>




              </div>
            </section>



{% endblock %} 