{% extends 'base.html' %}

{% block guid %}   {% endblock %}
  {% block title %} index {% endblock %} 
{% block content %}


      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

    <div id="login-page">
      <div class="container">
      
          <form class="form-login" action="{% url 'register' %}">
            {% csrf_token %}
              
            <h2 class="form-login-heading">注册</h2>
            <div class="login-wrap">
                {{errmsg}}
                <input type="text" class="form-control" placeholder="用户名" autofocus name='username' >
                <br>
                <input type="password" class="form-control" placeholder="密码" name='password' >
                    <br>
                    <input type="password" class="form-control" placeholder="确认密码" name='password2'>
                    <br>
              
                <button class="btn btn-theme btn-block" href="{% url 'register' %}" type="submit"><i class="fa fa-lock"></i> 注册</button>
                <br/>
                
                
                <div class="registration">
                    已经有账号?
                    <a data-toggle="modal" href="{% url 'login' %}">
                        登录
                    </a>
                </div>
    
            </div>
    
    
    
          </form>     
      
      </div>
    </div>



{% endblock %} 
