{% extends 'base0.html' %}
{% load staticfiles %}
    {% block content %}
   

    <!--services-->
    <div class="services" >
        <div class="container">         
            <div class="title">
                <h3>File "{{ post.file_name }}"" details</h3>
                <p>上传日期: {{ post.created_date|linebreaks }} </p>

            </div>
            <div class="service-grids">
                
               <div class="col-md-12 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                   <div class="col-md-12 contact-form-info">
                   <div class="srvc-img">
                       <img src="{% static 'images/icon5.png' %}" alt=""/>
                   </div>
                   <h5>变量</h5>
                   </div>


               </div>
                 
               <div class="col-md-12 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                {% for var in vars %} 
                   <div class="col-md-6 contact-form-info">
                   <p>变量{{ forloop.counter }}:  {{ var }}</p>
                   </div>
                  
                   <div class="col-md-6 contact-form-info">
                   <p><a href="{%url 'analysis' pp=post.pk course=var ana=ana_pass%}">选择它: {{ var }}进行{{ana_pass}} 分析</a></p>
                   </div>
                  <p></p>
                {% endfor  %} 
               </div>
 
             
                <div class="clearfix"> </div>               
            </div>
        </div>
    </div>
    <!--//services-->

        
    
  {% endblock content %}